{% extends 'base.html.twig' %}

{% block title %}acteur index{% endblock %}

{% block body %}
{{ include("inc/admin/navbar.html.twig") }}
    <div class="flex h-screen w-screen flex-row items-start justify-center gap-x-[15px] bg-admin-bg">
        <section class="absolute right-5 pt-[70px]">
            {{ include("inc/admin/filter.html.twig") }}
            <div class="flex w-[1020px] flex-col items-start justify-center overflow-x-hidden">
                <table class="min-w-full bg-admin-semibg border border-admin-primary rounded-lg">
                    <thead>
                        <tr class="bg-admin-primary text-admin-bg">
                            <th class="py-2">Id</th>
                            <th class="py-2">Nom</th>
                            <th class="py-2">Pronom</th>
                            <th class="py-2">Date de Naissance</th>
                            <th class="py-2">Sexe</th>
                            <th class="py-2">Nationalité</th>
                            <th class="py-2">Created at</th>
                            <th class="py-2">Updated at</th>
                            <th class="py-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acteur in acteurs %}
                        <tr class="border-b border-admin-primary hover:bg-admin-semibg2">
                            <td class="py-2 text-admin-text">{{ acteur.id }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.nom }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.pronom }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.dateNaiss ? acteur.dateNaiss|date('Y-m-d') : '' }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.sexe ? 'Male' : 'Female' }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.nationality }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.createdAt ? acteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="py-2 text-admin-text">{{ acteur.updatedAt ? acteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="py-2 text-admin-text">
                                <a href="{{ path('app_acteur_show', {'id': acteur.id}) }}" class="text-admin-primary hover:text-admin-bg hover:underline">Show</a>
                                <a href="{{ path('app_acteur_edit', {'id': acteur.id}) }}" class="text-admin-primary hover:text-admin-bg hover:underline ml-2">Edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="9" class="px-4 py-2 text-center text-admin-text">No records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_acteur_new') }}" class="inline-block mb-4 text-admin-bg bg-admin-accent hover:bg-admin-bg hover:text-admin-accent border border-admin-accent px-4 py-2 rounded-lg mt-2 ease-in-out duration-200">Create new</a>

            </div>
        </section>
    </div>
{% endblock %}
